<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src= "https://smtpjs.com/v3/smtp.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Book an appointment</title>
    <style>
      body{
        font-family: 'Lato', sans-serif;
      }
      .container {
        padding-top: 5%;
        width: 60%;
        margin: 0 auto;
        position: relative;
      }
      .nav-item:hover {
            border-bottom: 3px solid black;
            /* box-shadow: 0px 2px grey; */
        }
      body{
            width: 100%;
            background-color: #fdf5ef;
      }
    </style>
  </head>
  
  <body>
    <!-- Navbar design -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #348fd9; border-bottom: 1px solid black;" >
      <a class="navbar-brand" href="https://www.dtu.ac.in"><img src="../homepage/images/dtu_logo.png" style="height: 50px;"></a> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          <a class="nav-link" href="/homepage"> Home </a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="/bookappointment"> Book Appointment </a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="/viewappointments">View Appointments</a>
          </li>
          <li class="nav-item active">
          <a class="nav-link" href="/medicaltips"> Medical Tips </a>
          </li> 
          <li class="nav-item active">
            <a class="nav-link" href="/store"> Medicine Store </a>
            </li>
          <li class="nav-item active">
              <a class="nav-link" href="/profile"> Profile </a>
          </li>  
      </ul>
          <button id="demo" class="btn btn-dark" type="submit">Logout</button>  
      </div>
  </nav>
    <div class="container">
      <h2>Appointment Form</h2>
      <p style="color: green;"><%= response %></p>
    <form action='/bookappointment' method="POST">
        <div class="mb-3">
          <label for="Name" class="form-label">Doctor Name</label>
          <input type="text" name="Name" class="form-control" id="email" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
          <label for="date" class="form-label">Date</label>
          <input type="text" name="Time" class="form-control" id="rollno" placeholder="DD/MM/YEAR" required>
        </div>
        <div class="mb-3">
          <label for="time" class="form-label">Time</label>
          <input type="text" name="Time" class="form-control" id="rollno" placeholder="HH:MM" required>
        </div>
        <div class="mb-3">
          <label for="subject" class="form-label">Subject</label>
          <input type="text" name="subject" class="form-control" id="subject" required>
        </div>
        <!-- <div class="mb-3">
          <label for="message" class="form-label">Complaint</label>
          <textarea type="text" name="message" class="form-control" id="message" required></textarea>
        </div> -->
        
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
   
    <!-- script -->
    <script>
    var x = document.getElementById("demo").addEventListener('click',myFunction);
        function myFunction(){

            location.href = '/logout';
        }

    document.getElementById("submit").addEventListener('click',sendMail);
    function sendMail(event){

    }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>