<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
 
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Medical Tips</title>
      <style type="text/css">
          .how-section1{
    margin-top:-15%;
    padding: 10%;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #fdf5ef;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 40%;
}
.nav-item:hover {
            border-bottom: 3px solid black;
        }
      img {
          position: relative;
          top: 20%;
      }
      
      
      </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #348fd9; border-bottom: 1px solid black;" >
        <a class="navbar-brand" href="https://www.dtu.ac.in"><img src="../homepage/images/dtu_logo.png" style="height: 50px;"></a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="/homepage"> Home </a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="/bookappointment"> Book Appointment </a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="/viewappointments">View Appointments</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="/medicaltips"> Medical Tips </a>
            </li> 
            <li class="nav-item active">
              <a class="nav-link" href="/store"> Medicine Store </a>
              </li>
            <li class="nav-item active">
                <a class="nav-link" href="/profile"> Profile </a>
            </li>  
        </ul>
            <button id="demo" class="btn btn-dark" type="submit">Logout</button>  
        </div>
    </nav>


    <div style="text-align:center;">
      
        <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Medical Information</h1>
    
  </div>
</div>
      
      
      </div>
      <div class="how-section1">
                    <div class="row">
                        <div class="col-md-6 how-img">
                            <img src="https://www.flaticon.com/svg/vstatic/svg/2599/2599603.svg"  alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h4>Consume Less Salt and Sugar</h4>
                                        
                        <p class="text-muted">Filipinos consume twice the recommended amount of sodium, putting them at risk of high blood pressure, which in turn increases the risk of heart disease and stroke. Most people get their sodium through salt. Reduce your salt intake to 5g per day, equivalent to about one teaspoon. It’s easier to do this by limiting the amount of salt, soy sauce, fish sauce and other high-sodium condiments when preparing meals; removing salt, seasonings and condiments from your meal table; avoiding salty snacks; and choosing low-sodium products.

                            On the other hand, consuming excessive amounts of sugars increases the risk of tooth decay and unhealthy weight gain. In both adults and children, the intake of free sugars should be reduced to less than 10% of total energy intake. This is equivalent to 50g or about 12 teaspoons for an adult. WHO recommends consuming less than 5% of total energy intake for additional health benefits. You can reduce your sugar intake by limiting the consumption of sugary snacks, candies and sugar-sweetened beverages</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Eat a Healthy Diet</h4>
                                        
                                        <p class="text-muted">
                                            Eat a combination of different foods, including fruit, vegetables, legumes, nuts and whole grains. Adults should eat at least five portions (400g) of fruit and vegetables per day. You can improve your intake of fruits and vegetables by always including veggies in your meal; eating fresh fruit and vegetables as snacks; eating a variety of fruits and vegetables; and eating them in season. By eating healthy, you will reduce your risk of malnutrition and noncommunicable diseases (NCDs) such as diabetes, heart disease, stroke and cancer.
</p>
                            
                        </div>
                        <div class="col-md-6 how-img">
                            <img src="https://www.flaticon.com/svg/vstatic/svg/1277/1277773.svg?token=exp=1618268935~hmac=4b69078a0b925de989f700c5007eed13" alt=""/>
                        </div>
                    </div>
           <div class="row">
                        <div class="col-md-6 how-img">
                             <img src="https://www.flaticon.com/svg/vstatic/svg/3048/3048341.svg?token=exp=1618269069~hmac=d6d491bb6d623b9033bab0b1473abd23" class="rounded-circle img-fluid" alt=""/>
                        </div>
                        <div class="col-md-6">
                            <h4>Exercise Daily</h4>
                                        <h4 class="subheading">Be Active</h4>
                                        <p class="text-muted">Physical activity is defined as any bodily movement produced by skeletal muscles that requires energy expenditure. This includes exercise and activities undertaken while working, playing, carrying out household chores, travelling, and engaging in recreational pursuits. The amount of physical activity you need depends on your age group but adults aged 18-64 years should do at least 150 minutes of moderate-intensity physical activity throughout the week. Increase moderate-intensity physical activity to 300 minutes per week for additional health benefits.</p>
                                                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Get Vaccinated</h4>
                                        
                                        <p class="text-muted">Vaccination is one of the most effective ways to prevent diseases. Vaccines work with your body’s natural defences to build protection against diseases like cervical cancer, cholera, diphtheria, hepatitis B, influenza, measles, mumps, pneumonia, polio, rabies, rubella, tetanus, typhoid, and yellow fever.

                                            In the Philippines, free vaccines are provided to children 1 year old and below as part of the Department of Health’s routine immunization programme. If you are an adolescent or adult, you may ask your physician if to check your immunization status or if you want to have yourself vaccinated.</p>
                        </div>
                        <div class="col-md-6 how-img">
                            <img src="https://www.flaticon.com/svg/vstatic/svg/3309/3309768.svg?token=exp=1618269196~hmac=b260a9f30de9e6bb6692be7047b625f4" class="rounded-circle img-fluid" alt=""/>
                        </div>
                    </div>
                </div>
   
    <!-- Optional JavaScript; choose one of the two! -->
    <script>
         var x = document.getElementById("demo").addEventListener('click',myFunction);
          function myFunction(){
  
              location.href = '/logout';
          }
  
    </script>
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>